
body {
    font-family: Helvetica;
    color: black;
    background-color: white;
}

h1 {
    font-size: 50px;
    text-align: center;
}

#colorTurn {
    font-size: 20px;
    text-align: center;
}

#gameBoard {
    margin: 20px auto;
    width: 50vw;
    height: 60vh;
    background: forestgreen;
    border: 10px solid black;
}

.row {
    width: 100%;
    height: 12.5%;
    display: table;
}

.square {
    display: table-cell;
    width: 12.5%;
    height: 12.5%;
    border: 1px solid black;
}

.black {
    height: 50%;
    width: 50%;
    background-color: black;
    border-radius: 50%;
    display: table;
    margin: auto;
}

.white {
    height: 50%;
    width: 50%;
    background-color: white;
    border-radius: 50%;
    display: table;
    margin: auto;
}

.blackStart {
    height: 50%;
    width: 50%;
    background-color: black;
    border-radius: 50%;
    display: table;
    margin: auto;
}

.whiteStart {
    height: 50%;
    width: 50%;
    background-color: white;
    border-radius: 50%;
    display: table;
    margin: auto;
}

